<div ng-controller='MainController as vm'>
  <div class="container">
    <div id="wrapper">
      <h1 id="pageHead">About Here</h1>
      <section  id="sectOne"class="m-t-3">
        <h3 id="pageHead">A starter template</h3>
        <p class="bg-grey">
          When building this template, one of my goals that I set out to fulfill was to create a template that could be used for multiple uses, as well as developing a reuseable CSS library as well. Built from a mobile first perspective, this responsive template can be altered slightly to create stunning web apps, sites that feature basic user authentication for an eCommerce store, or even a social media dashboard style platform. The options are limited only to your imagination.
        </p>
      </section>
    </div>
  </div>   <!-- / CONTAINER -->
  <footer>&copy 2016 Phoja Unlimited LLC. All Rights Reserved</footer>
</div>
